* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primaryColor: #00131E;
    --secondaryColor: #999;
        ;
    --tertiaryColor:#555;
    --whiteColor:#eee;
    --blackColor:#111;
    --strockColor:#0F3745;
    --strockColor2: #235b72;
    --smallRound:6px;
    --smallPadding: 16px;
        --mediumPadding: 20px;
        --largePadding: 24px;
        --xLargePadding: 32px;
        --smallGap: 16px;
        --mediumGap: 20px;
        --largeGap: 32px;
    --radialGradient: radial-gradient(circle, #024A79, #1A425E);
    --radialGradientBlack1: radial-gradient(circle, #07263a, #060e14);
        --radialGradientBlack2: radial-gradient(circle, #07263a, #0b1e2b);
        --linearGradient1: linear-gradient(to bottom right, rgb(16, 35, 43), rgb(3, 48, 75));
}

body{
    background: var(--whiteColor);
    color:var(--whiteColor);
}

/* =============================
 GENERAL CSS STYLE
 ================================= */
.gray-color {
    color: var(--secondaryColor);
}
.inside-padding-1 {
    padding: 24px;
}

.inside-padding-2 {
    padding: 32px;
}

.grid-template-1 {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--smallGap);
}

.grid-template-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--smallGap);
}

.grid-template-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--smallGap);
}

.grid-template-4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: var(--smallGap);
}

.flex-row-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--smallGap);
}

.flex-column-center-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-column-start {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 20px;
}


.last-container-border {
    border: 2px solid var(--strockColor);
}

.mainHomeSection,
.mainProjectsSection,
.mainParternesSection,
.mainEducationSection,
.mainServicesSection,
.mainStacksSection,
.mainBlogSection,
.mainTestmonialSection,
.mainGallelrySection,
.mainContactUsSection {
    background-color: var(--primaryColor);
    padding: var(--xLargePadding);
    border: 2px solid var(--strockColor);
}

.card1,
.card2,
.card3,
.card4,
.card5,
.card6,
.card7 {
    padding: var(--smallPadding);
    background: var(--linearGradient1);
}

.box-div-content {
    background: var(--radialGradient);
    border: 2px solid var(--strockColor);
    padding: var(--smallPadding);
}

.content-style {
    background: var(--radialGradient);
    border: 1px solid var(--strockColor2);
    padding: var(--smallPadding);
}

/*====================
Aside
 ====================================== */
aside{
    background: var(--radialGradient);
    width: 150px;
    color: var(--whiteColor);
    border:2px solid var(--strockColor);
    padding: 16px;
    display: flex;
    position:fixed;
    flex-direction: column;
    height: 100vh;
    
}
aside .asideTopContentContainer{
    display: flex;
    flex-direction: column;
    gap: var(--smallGap);

}
aside .asideTopContentContainer .dates{
    padding: 6px 12px;
    border: 2px solid var(--strockColor);
    background:var(--radialGradient);
    display: flex;
    justify-content: center;
    align-items: center;
}
aside .asideTopContentContainer .dates p{
    font-size: 24px;
    font-weight: 500;
}
aside .asideTopContentContainer .asideImage{
    display: flex;
    justify-content: center;
    align-items: center;
}
aside .asideTopContentContainer .asideImage img{
    width: 18px;
    border-radius: var(--smallRound);
}

ul li{
    list-style: none;
}
aside .asideBottomContentContaier{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
}
aside .asideBottomContentContaier ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--smallGap);
}

svg:hover{
    cursor: pointer;

}

/*====================
 Main Section
 ====================================== */

#mainContentContainer {
    margin-left: 150px;
    padding: 24px;
    background-color: var(--blackColor);
    display: flex;
        flex-direction: column;
        gap: var(--xLargePadding);
    }
    
    /*====================
         mainHomeSection Section
         ====================================== */
    .mainHomeSection {
        display: grid;
        grid-template-columns: 3fr 9fr;
        gap: var(--smallGap);
        height: 490px;
    }
    
    .mainHomeSection img {
        width: 320px;
        height: 420px;
        border-radius: var(--smallRound);
    }
    
    #homeContentContainer {
        /* background-color: red !important; */
        /* border: 16px dashed salmon ; */
        height: 420px;
        display: flex;
        flex-direction: column;
        gap: var(--smallGap);
    }
    
    .homeBottomContainContainer {
        display: grid;
        grid-template-columns: 7fr 5fr;
        gap: var(--smallGap);
}
.homeTopContentContainer {
    display: grid;
    grid-template-columns: 5fr 4fr 3fr;
    gap: var(--smallGap);
}

.circle_frelencer,
.c3,
.c2,
.c1 {
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: 0.5s infinite var(--strockColor2);

}

.circle_frelencer {
    width: 20px;
    height: 20px;
    background-color: var(--strockColor2)
}

.c3 {
    width: 8px;
        height: 8px;
    background-color: var(--whiteColor)
}

.c2 {
    width: 5px;
    height: 5px;
    background-color: var(--strockColor2)
}

.c1 {
    width: 2px;
    height: 2px;
    background-color: orange;
}


.homeBottomContainContainer{
    /* border: 16px dashed gold; */
    height: 280px;
}

.helloAreaBottonLeft,.helloAreaBottomRight{
    /* border: 16px dashed rgb(55, 235, 79);  */
    height: 315px;
}
.helloImageSignContainer{
    /* background-color: aqua; */
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.helloImageSignContainer img{
    width: 80px;
    height: 50px;
}

.helloAreaBottomRightImageContainer{
    display: flex;
    justify-content: end;
    align-items: end;
}
.helloAreaBottomRightImageContainer img{
height: 228px;
width: 250px;
}
.helloAreaBottomRight{
    background: var(--radialGradient);
    border: 1px solid var(--strockColor2);
}
.helloAreaBottomRightTopContent{
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: var(--smallGap);
    margin: var(--smallPadding);
}
 /*====================
         mainProjectsSection Section
         ====================================== */
 .mainProjectsSection {
     display: flex;
     flex-direction: column;
     gap: 20px;
 }

 header {
     display: flex;
     gap: 8px;
     padding: 8px;
     background: var(--radialGradient);

 }

 header div {
     background: var(--radialGradient);
     display: flex;
     justify-content: space-between;
     padding: 4px;
     align-items: center;
     border: 1px solid var(--strockColor2);
 }

 header div p {
     padding: 0px 8px;
     width: 100%;
 }

 .w-100 {
     width: 100%;
 }

 .project-content-container {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     background: var(--radialGradientBlack1);
     border: 1px solid var(--strockColor2);
     gap: 20px;
     padding: 20px;
 }

 .card1 {
     background: var(--radialGradientBlack2);
     border: 1px solid var(--strockColor);
 }

 .card1 img {
     width: 300px;
 }

 .card1-content-container {
     display: flex;
     justify-content: space-between;
     padding-top: 4px;

 }

 .card1-content-container p {
     color: var(--secondaryColor)
 }

 svg {
     background: var(--radialGradientBlack2);
     border: 1px solid var(--strockColor);
 }

 /*====================
         mainParternesSection Section
         ====================================== */
 .mainParternesSection {
     display: flex;
     flex-direction: column;
     gap: 16px;
     background: var(--radialGradientBlack2)
 }

 .mainParternesSection .imageContainer {
     padding: 16px 0 8px 0;
 }

 .mainParternesSection .imageContainer img {
     width: 200px;
     height: 100px;
     border: 1px solid var(--strockColor);
     margin: 0px 8px;
 }
 @keyframes scroll {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}

 .marquee-container {
     position: relative;
     /* Width of the marquee plus overlay width */
     overflow: hidden;
 }

 .overlay {
     position: absolute;
     top: 0;
     bottom: 0;
     width: 100px;
     /* Width of the overlay */
     background: linear-gradient(to right, rgba(0, 0, 0, 0.5), transparent);
     pointer-events: none;
     border: none;
 }

 .overlay.right {
     right: 0;
     background: linear-gradient(to left, rgba(0, 0, 0, 0.5), transparent);
 }

 .projectCardContainer {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     gap: 16px;

 }

 .projectCardContainer .card2 {
     display: flex;
     flex-direction: column;
     gap: 8px;
     padding: 20px;
     border: 1px solid var(--strockColor);
 }
 
 .projectContentHeading {
     font-size: xx-large;
 }

  /*====================
         mainParternesSection Section
         ====================================== */